@charset "UTF-8";

*{
    margin:0;
    padding: 0;
}

.materias{
    width: 60%;
    margin:auto;
    margin-bottom:100px;
    text-align: justify;
}

.materias h1{
    color:var(--color4);
    margin-top: 10px;
    font-size:30px;
    text-align: center;
}

.materias h2{
    color:var(--color4);
    font-size:23px;
    text-align: justify;
}

.materias p{
    color:var(--color7);
    font-size:20px;
    text-align: justify;
}

.materias ul{
    list-style: none;
}

.materias li{
    font-size: 20px;
    margin-top: 15px;
}

.materias a{
    color: var(--color4);
}

.materias a:hover{
    color: var(--color5);
}