@charset "UTF-8";

:root { /* Declarando a paleta de cores através de variáveis */
    --color1: #141018;
    --color2: #103146;
    --color3: #0c5e7e;
    --color4: #0892be;
    --color5: #07d0ff;
    --color6: #000000;
    --color7: #ffffff;
}

*{
    margin:0;
    padding: 0;
}

html{
    background-color: var(--color1);
    color:#ffffff;
    font-family:'Times New Roman', Times, serif;
}

body{
    width: 100%;
}

.menu{
    display: flex;  
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--color2);
    height: 8vh;
    margin-bottom: 50px;
}

.navlist{
    list-style:none;
    letter-spacing: 2px;
    font-size: 25px;
    display: flex;
}

.navlist li{
    margin: 10px;
}
.navlist a{
    text-decoration: none;
    color: var(--color7);
}
.navlist ul{
    position: absolute;
    display: none;
    list-style: none;
}

.navlist li:hover ul{
    display: block;
}

.navlist ul{
    width: 100px;
}

p{
    letter-spacing: 1px;
    color:var(--color7);
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    color:var(--color4);
}



